.link {
  color: var(--color-white);
  display: inline-block;
  letter-spacing: 0.06em;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 12px 18px;
  transition: background var(--animation-cubicBezier);
}

.link:hover,
.link:focus {
  background: var(--color-imageBackground);
}
